html {
      font-size: 100%;
}

body {
      font-family: "Bitstream Charter", serif;
      background-color: hsla(120 100% 30% / 0.3);
      color: hsl(120 100% 10%);
      text-align: justify;
     

}

article {
      padding-right: 150px;
      padding-left: 150px;
}

a, address{
      text-decoration: none;
      font-style: normal;
      color: hsl(120 100% 20%);
}

address{
      font-family: "Noto Sans Japanese", sans-serif;
      font-weight: bold;
}

blockquote{
      font-family: "Bitstream Charter", serif;
      font-size: 100%;
      color: hsl(120 100% 10%);
      margin: 30px;
}

.maru {
      font-size: 65%;
      
}
.info {
      text-align: float;
      
}
/*

 &#8477; is blackboard R

.blackboard {
      font-family: UnPilgi, Z003, serif;
      font-weight: bold;
}


h1 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-transform: uppercase;
      font-size: 300%;
      text-align: center;
      letter-spacing: -6px;
      background: hsla(120 100% 30% / 0.4);
      border: 10px solid hsl(120 100% 30%);
      line-height: 1.5;
      margin: 0px;
      margin-bottom: 30px;
      
}
*/

h1 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-indent: 1em;
      color: hsl(120 100% 20%);
      
}

h2, h3, h4 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-indent: 3em;
      color: hsla(120 100% 20% / 0.75);
      margin-bottom: 1.5em;
      margin-top: 4em;
}

h2 a, h3 a {
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsla(120 100% 20% / 0.75);
}

h5, h6 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-indent: 6em;
      color: hsla(120 100% 20% / 0.75);
      margin-bottom: 1.5em;
      margin-top: 3em;
}

h4 a, h5 a, h6 a{
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsla(120 100% 20% / 0.75);
}

footer {
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsl(120 100% 20%);
      font-size: 90%;
      text-align: center;
      font-weight: bold;
      letter-spacing: 4px;
      border: 10px solid hsl(120 100% 30%);
      background: hsla(120 100% 30% / 0.4);
      margin-top: 30px;
      line-height: 2.5;      
}    

dfn, em {
      font-style: normal;
}

table, th, td {
      Border: 3px solid hsl(120 100% 20%);

}
th {
      color: hsl(120 100% 10%);
}
li {
      list-style-type: none;
}


mark {
      background: hsla(120 100% 30% / 0.4);
      color: hsl(120 100% 10%);
    
}
img {
      border: 3px solid hsl(120 100% 20%);
}

math {
      font-family: "Bitstream Charter", serif;
}

blockquote {
      /*text-indent: 2em;*/
      line-height: 1.8em;
      /*background-color: hsla(120 100% 30% / 0.2);*/
      padding: 15px;
    

}

.bsp {
      /*text-indent: 2em;*/
      line-height: 1.8em;
      background-color: hsla(120 100% 30% / 0.2);
      padding: 15px;
    

}

.banner {
      margin: 0;
      border: none;
}

.header {
      display: flex;
      justify-content: center;
}

.extra {
      font-size: 80%;
      
}

.box {
      border: 3px solid hsl(120 100% 20%);
}
.box td {
      border: none;
}

.textlink {
      color: hsl(120 100% 10%);
      font-variant: small-caps;
}

.arrow {
      font-family: "Noto Sans Japanese", sans-serif;
      font-weight: bold;
    
}

.headref {
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsl(120 100% 30%);
      font-weight: normal;
}

.abl {
      letter-spacing: -2px;
}
