html {
      font-size: 100%;
}

body {
      font-family: "Bitstream Charter", serif;
      background-color: hsla(120 100% 30% / 0.3);
      color: hsl(120 100% 10%);
      
     

}
article {
      margin: 50px;
}

a, address{
      text-decoration: none;
      font-style: normal;
      color: hsl(120 100% 20%);
}

address{
      font-family: "Noto Sans Japanese", sans-serif;
      font-weight: bold;
}

.math {
      font-family: "Bitstream Charter", serif;
      font-size: 100%;
      color: hsl(120 100% 20%);
      margin: 30px;
}

h1 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-transform: uppercase;
      font-size: 300%;
      text-align: center;
      letter-spacing: -6px;
      background: hsla(120 100% 30% / 0.4);
      border: 10px solid hsl(120 100% 30%);
      line-height: 1.5;
      margin: 0px;
      margin-bottom: 30px;
      
}

h2 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-indent: 1em;
      color: hsl(120 100% 20%);
}

h3, h4, h5, h6 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-indent: 3em;
      color: hsla(120 100% 20% / 0.75);
}

h4 a {
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsla(120 100% 20% / 0.75);
}

footer {
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsl(120 100% 20%);
      font-size: 90%;
      text-align: center;
      font-weight: bold;
      letter-spacing: 4px;
      border: 10px solid hsl(120 100% 30%);
      background: hsla(120 100% 30% / 0.4);
      margin-top: 30px;
      line-height: 2.5;
      
}    

dfn, em {
      font-style: normal;
}

table, th, td {
      Border: 3px solid hsl(120 100% 20%);

}
th {
      color: hsl(120 100% 10%);
}
li {
      list-style-type: none;
}


mark {
      background: hsla(120 100% 30% / 0.4);
      color: hsl(120 100% 10%);
    
}
img {
      border: 3px solid hsl(120 100% 20%);
}

.extra {
      font-size: 80%;
      
}

.box {
      border: 3px solid hsl(120 100% 20%);
}
.box td {
      border: none;
}

.textlink {
      color: hsl(120 100% 10%);
      font-variant: small-caps;
}

.arrow {
      font-family: "Noto Sans Japanese", sans-serif;
      font-weight: bold;
    
}

.headref {
      font-family: "Noto Sans Japanese", sans-serif;
      color: hsl(120 100% 30%);
      font-weight: normal;
}
