html {
      font-size: 100%;
}

body {
      font-family: "Bitstream Charter", serif;
      background-color: lightgoldenrodyellow;

}
h1 a {
      text-decoration: none;
      color: darkgreen;
}

a, address{
      text-decoration: none;
      font-style: normal;
      color: magenta;
}

h1 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-transform: uppercase;
      font-size: 300%;
      text-align: center;
      letter-spacing: -2px;
      border-top: 10px solid gold;
      border-bottom: 10px solid gold;
}

h2, h3, h4, h5, h6 {
      font-family: Garuda, sans-serif;
      text-indent: 1em;

}
footer {
      font-family: Garuda, sans-serif;
      text-align: center;
      border-top: 3px solid darkgreen;
}     
dfn {
      font-style: normal;
}
table, th, td {
      Border: 3px solid lightblue;

}
th {
      color: darkgreen;
}
mark {
      background:lightblue;
}
.pos {
      color: green;
      font-style: normal;
}
.neg {
      color: orangered;
      font-style: normal;
}
.neu {
      color: mediumblue;
      font-style: normal;
}
.amazing {
      border: 5px solid lightblue;
}

.extra {
      font-size: 70%;
      line-height: 70%;
}

