html {
      font-size: 100%;
}

body {
      font-family: "Bitstream Charter", serif;
      background-color: lightgoldenrodyellow;
      
     

}
main {
      margin: 50px;
}
h1 a {
      text-decoration: none;
      color: darkgreen;
}

a, address{
      text-decoration: none;
      font-style: normal;
      color: magenta;
}

h1 {
      font-family: "Noto Sans Japanese", sans-serif;
      text-transform: uppercase;
      font-size: 300%;
      text-align: center;
      color: darkgreen;
      letter-spacing: -2px;
      border-top: 10px solid gold;
      border-bottom: 10px solid gold;
}

h2, h3, h4, h5, h6 {
      font-family: Garuda, sans-serif;
      text-indent: 1em;

}
footer {
      font-family: Garuda, sans-serif;
      text-align: center;
      border-top: 3px solid darkgreen;
      margin-top: 25px;
}     
dfn {
      font-style: normal;
}
table, th, td {
      Border: 3px solid teal;

}
th {
      color: darkgreen;
}
mark {
      background: lightblue;
      
}
.pos {
      color: green;
      font-style: normal;
}
.neg {
      color: red;
      font-style: normal;
}
.neu {
      color: blue;
      font-style: normal;
}


.extra {
      font-size: 80%;
      
}

.box {
      border: 10px solid teal;
}
.box td {
      border: none;
}

.textlink {
      color: black;
      font-variant: small-caps;
}
.look {
      
      font-style: normal;
      color: teal;
}

